# Ignore the virtual environment
venv/

# Ignore database files
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore media and static files (optional)
media/
static/

# Ignore environment variables
.env
